<section class="block">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque,
      inventore! Vitae dignissimos totam debitis enim distinctio placeat minima
      error! Tempora!
    </p>
  </header>
  <div class="card card--primary card--block">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem,
      reiciendis!
    </div>
  </div>
</section>
<section class="block block--dark block--slant">
  <h2 class="block__heading">Heading</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque, inventore!
    Vitae dignissimos totam debitis enim distinctio placeat minima error!
    Tempora!
  </p>
</section>
