<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 2</h2>
    <img
      class="icon collapsible__chevron"
      src="Images/chevron.svg"
      alt="chevron"
    />
  </header>
  <div class="collapsible__content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi delectus
      quisquam dignissimos ipsam suscipit recusandae tempore autem ipsa
      assumenda corrupti!
    </p>
  </div>
</div>
<script src="main.js"></script>
